<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню Гороскоп</title>
</head>
<body>
    <ul>
        {% for point in menu %}
            {% if forloop.first %}
                <li> {{ point|capfirst }} - первый</li>
            {% elif forloop.last %}
                <li> {{ point|capfirst }} - последний</li>
            {% else %}
                <li> {{ point|capfirst }} </li>
            {% endif%}
        {% endfor %}
    </ul>

    <ul>
        {% for key, value in dict.items reversed %}
            <li> {{key}} - {{value}} </li>
        {% endfor %}
    </ul>

    <ul>
        {% for i in space %}
        {% empty %}
            <p>Пустой список: {{space}}</p>
        {% endfor %}
    </ul>


</body>
</html>