{% extends 'base.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'horoscope/css/index.css'%}">
    <link rel="stylesheet" href="{% static 'horoscope/css/info.css'%}">
{% endblock %}


{% load static %}
{% block title %}
    Меню Гороскоп
{% endblock %}

{% block content %}


    <h1>Приложение ГОРОСКОП</h1>

    <ul>
        {% for point in menu %}
        <li><a href = "{% url 'horoscope-name' sign_zodiak=point %}">{{ point|capfirst }}</a> </li>
        {% endfor %}
    </ul>


{% endblock %}