{% extends 'base.html' %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'horoscope/css/index.css'%}">
    <link rel="stylesheet" href="{% static 'horoscope/css/info.css'%}">
{% endblock %}


{% block title %}
    Гороскоп для {{sign|capfirst}}
{% endblock %}

{% block content %}

{% include 'includes/navbar.html'%}


    {% if description%}
        <h1>{{ name_title }}</h1>
        <h2> {{ description|capfirst }} </h2>
    {% else %}
        <h2> Неправильный знак зодиака - {{ sign }} </h2>
    {% endif %}



{% endblock %}