{% extends 'movie_app/base.html' %}


{% block title %} Все фильмы {% endblock %}


{% block content %}
    <h2>Список всех фильмов</h2>

    <ul>
        {% for movie in movies %}

        <li><a href="{{ movie.get_url }}">{{movie.name}}</a>, рейтинг - {{movie.rating}}%, год - {{movie.year|default:"неизвестен"}}</li>
        {% endfor %}
    </ul>

    <p><b>Всего фильмов - </b>{{agg.name__count}} шт.</p>
    <p><b>Средний бюджет - </b> {{agg.budget__avg}} $</p>
    <p><b>Минимальный рейтинг - </b>{{agg.rating__min}} %</p>
    <p><b>Максимальный рейтинг - </b>{{agg.rating__max}} %</p>
    <p><b>Кол-во фильмо - </b>{{total}} %</p>

<hr>

<a href="{% url 'all-actors' %}">Список всех актёров</a> <br>
<a href="{% url 'all-directors' %}">Список всех режисёров</a>


{% endblock %}