{% extends 'movie_app/base.html' %}


{% block title %} Информация о фильме {{movie.name}} {% endblock %}


{% block content %}
    <h2>Информация о фильме {{movie.name}}</h2>
    <p>Рейтинг - {{movie.rating}} %</p>
    <p>Год выхода - {{movie.year|default:"Неизвестен"}}</p>
    <p>Буджет - {{ movie.budget }} </p>
    <p>Валюта - {{ movie.currency }}</p>
    <p>Режисёр - <a href="{{ movie.director.get_url }}">{{movie.director}} </a>({{movie.director.age}} лет)</p>

    <h3>Актёры</h3>

    <ul>
        {% for actor in movie.actors.all %}
        <li><a href='{{ actor.get_url }}'>{{actor.full_name}}</a> ({{actor.age}} лет)</li>
        {% endfor %}
    </ul>

    <hr>
    <a href="{% url 'all-actors' %}">Список всех актёров</a> <br>
    <a href="{% url 'all-directors' %}">Список всех режисёров</a> <br>
    <a href="{% url 'movie-index' %}">Вернуться на главную</a>



{% endblock %}