{% extends 'movie_app/base.html' %}


{% block title %} {{actor}} {% endblock %}


{% block content %}
    <h2>{{actor}}</h2>

    <p>Пол: {{actor.gender}}</p>
    <p>Возраст: {{actor.age }}</p>
    <p>Жанр: {{actor.genre }}</p>
    <p>Кол-во фильмов: {{actor.count_movie }}</p>

<hr>

    <h3>Список фильмов</h3>

    <ul>
    {% for movie in actor.movies.all %}
        <li><a href="{{ movie.get_url }}">{{movie.name}}</a></li>
    {% endfor%}
    </ul>




    <hr>
    <a href="{% url 'all-actors' %}">Список всех актёров</a> <br>
    <a href="{% url 'all-directors' %}">Список всех режисёров</a> <br>
    <a href="{% url 'movie-index' %}">Вернуться на главную</a>



{% endblock %}